@inject MusicPlayerService Player

@if (_tracks.Count > 0)
{
    <div style="margin-top: 20px;">
        @foreach (var track in _tracks)
        {
            <TrackCard Track="track" />
        }
    </div>
}
else if (_hasContent)
{
    <div class="welcome" style="height: auto; margin-top: 40px;">
        <p>No results found</p>
    </div>
}

@code {
    [CascadingParameter(Name = "DisplayTracks")]
    public List<TrackDto> _tracks { get; set; } = [];

    [CascadingParameter(Name = "HasContent")]
    public bool _hasContent { get; set; }
}
