@inject MusicPlayerService Player

@if (_results.Count > 0)
{
    <div style="margin-top: 20px;">
        @foreach (var track in _results)
        {
            <TrackCard Track="track" />
        }
    </div>
}
else if (_hasSearched)
{
    <div class="welcome" style="height: auto; margin-top: 40px;">
        <p>No results found</p>
    </div>
}

@code {
    [CascadingParameter(Name = "SearchResults")]
    public List<TrackDto> _results { get; set; } = [];

    [CascadingParameter(Name = "HasSearched")]
    public bool _hasSearched { get; set; }
}
